
*{
  margin:0;
  padding: 0;
  tap-highlight-color: transparent; 
  touch-callout: none;
  font-family: "微软雅黑";
}
::-webkit-scrollbar{
    display: none
}

.info-page{
  /*display: none;*/
  position: absolute;
  width: 100%;
  bottom: 0;
  bottom: -7rem;
  opacity: 0.7;
  background-color: linear-gradient(to bottom, #0b0d22, transparent);

}

.info-page .text{
  margin: 0 0.8rem;
  font-size: 0.3rem;
  color: #e0e0e0;
  line-height: 0.5rem;
  text-align: justify;
}
.info-page .img{
  margin: 0.6rem  auto;
  width: 3.96rem;
  height: 1rem;
  background-size: contain !important;
}
.info-page .mars{
  background: url(../images/name/mars.png) no-repeat;
}
.info-page .tuxing{
  background: url(../images/name/tuxing.png) no-repeat;
  background-position: 0.22rem 0;
}
.info-page .haiwang{
  background: url(../images/name/haiwang.png) no-repeat;
}
.info-page .halei{
  background: url(../images/name/halei.png) no-repeat;
}
.info-page .kaipule{
  background: url(../images/name/kaipule.png) no-repeat;
}
.info-page .mingwang{
  background: url(../images/name/mingwang.png) no-repeat;
}
.info-page .shizi{
  background: url(../images/name/shizi.png) no-repeat;
}
.info-page .waitress{
  background: url(../images/name/waitress.png) no-repeat;
}
.info-page .lion{
  background: url(../images/name/lion.png) no-repeat;
}
.info-page .bigbear{
  background: url(../images/name/bigbear.png) no-repeat;
}
.info-page .fenge{
  width: 0.46rem;
  height: 0.03rem;
  background-color: #e0e0e0;
  margin-left: 0.8rem;
  margin-bottom: 0.2rem;
}
.info-page .tips{
  font-size: 0.22rem;
  text-align: center;
  color: #78787f;
  margin-top:0.9rem;
  margin-bottom: 0.65rem;
}
.fast-wrapper{
  background-color: #000;
  position: fixed;
}
body{
  position: fixed;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.cover-bac{
  z-index: 112;
  position: absolute;
  top:0;
  width: 100%;
  height: 100%;
  background: url(../images/cover.jpg) no-repeat;
  background-size: 100% 100%;
  background-color: #000;
}
.cover-bac .logo{
  position: absolute;
  width: 3.48rem;
  height: 0.72rem;
  background: url(../images/logo.png) no-repeat;
  background-size: 100% 100%;
  margin: 0.2rem;
}
.music{
  position: fixed;
  top:0.26rem;
  right: 0.26rem;
  width: 0.54rem;
  height: 0.58rem;
  background-image: url(../images/music-close.png);
  background-size: 100% 100%;
  z-index: 120;
}
.music.on{
  background-image: url(../images/music.png) !important;
}
.cover-bac .xinhao{
  width: 5rem;
  height: 4rem;
  background: url(../images/xinhao1.gif) no-repeat;
  background-size: 100% 100%;
  position: absolute;
  top: 5rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.cover-bac .tit{
  width: 100%;
  height: 4.26rem;
  background: url(../images/tit3.png) no-repeat;
  background-size: 100% 100%;
  opacity: 0;
}
.cover-bac .start-btn{
  position: absolute;
  bottom: -0.15rem;
  left: 50%;
  width: 2.78rem;
  height: 3.05rem;
  background: url(../images/star-btn-bac.png);
  background-size: contain;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.start-btn .start{
  margin: 0.66rem 0.52rem;
  width: 1.7rem;
  height: 1.74rem;
  background: url(../images/star-btn.png);
  -webkit-animation: startanimation 0.6s infinite;
          animation: startanimation 0.6s infinite;
  background-size: contain;
}
@-webkit-keyframes startanimation{
  0%{
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 0.6;
  }
  20%{
    -webkit-transform: scale(1.07);
            transform: scale(1.07);
  }
  36%{
    -webkit-transform: scale(0.86);
            transform: scale(0.86);
  }
  48%{
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  64%{
    opacity: 1;
  }
  100%{
    -webkit-transform: scale(1);
            transform: scale(1);
  }

}
@keyframes startanimation{
  0%{
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 0.6;
  }
  20%{
    -webkit-transform: scale(1.07);
            transform: scale(1.07);
  }
  36%{
    -webkit-transform: scale(0.86);
            transform: scale(0.86);
  }
  48%{
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  64%{
    opacity: 1;
  }
  100%{
    -webkit-transform: scale(1);
            transform: scale(1);
  }

}
.cover-bac .xinhao2{
  width: 6.8rem;
  height: 8rem;
}

.xinhao-fashe {
    background-image: url(../images/xinhao31.png);
    position: absolute;
    bottom: 3rem;
    right: -1.1rem;
    -webkit-animation: fasheanimation 1.4s steps(1) infinite;
            animation: fasheanimation 1.4s steps(1) infinite;
    width: 6.8rem;
    height: 8rem;
    /*-webkit-transform: scale(0.8);
            transform: scale(0.8);*/
    background-size: 13.6rem 152rem;
}

@keyframes fasheanimation {
  0% { background-position: 0rem 0rem; }
  2.94% { background-position: -6.8rem 0rem; }
  5.88% { background-position: 0rem -8rem; }
  8.82% { background-position: -6.8rem -8rem; }
  11.76% { background-position: 0rem -16rem; }
  14.71% { background-position: -6.8rem -16rem; }
  17.65% { background-position: 0rem -24rem; }
  20.59% { background-position: -6.8rem -24rem; }
  23.53% { background-position: 0rem -32rem; }
  26.47% { background-position: -6.8rem -32rem; }
  29.41% { background-position: 0rem -40rem; }
  32.35% { background-position: -6.8rem -40rem; }
  35.29% { background-position: 0rem -48rem; }
  38.24% { background-position: -6.8rem -48rem; }
  41.18% { background-position: 0rem -56rem; }
  44.12% { background-position: -6.8rem -56rem; }
  47.06% { background-position: 0rem -64rem; }
  50.00% { background-position: -6.8rem -64rem; }
  52.94% { background-position: 0rem -72rem; }
  55.88% { background-position: -6.8rem -72rem; }
  58.82% { background-position: 0rem -80rem; }
  61.76% { background-position: -6.8rem -80rem; }
  64.71% { background-position: 0rem -88rem; }
  67.65% { background-position: -6.8rem -88rem; }
  70.59% { background-position: 0rem -96rem; }
  73.53% { background-position: -6.8rem -96rem; }
  76.47% { background-position: 0rem -104rem; }
  79.41% { background-position: -6.8rem -104rem; }
  82.35% { background-position: 0rem -112rem; }
  85.29% { background-position: -6.8rem -112rem; }
  88.24% { background-position: 0rem -120rem; }
  91.18% { background-position: -6.8rem -120rem; }
  94.12% { background-position: 0rem -128rem; }
  97.06% { background-position: -6.8rem -128rem; }
  100.00% { background-position: 0rem -136rem; }
}
@-webkit-keyframes fasheanimation {
  0% { background-position: 0rem 0rem; }
  2.94% { background-position: -6.8rem 0rem; }
  5.88% { background-position: 0rem -8rem; }
  8.82% { background-position: -6.8rem -8rem; }
  11.76% { background-position: 0rem -16rem; }
  14.71% { background-position: -6.8rem -16rem; }
  17.65% { background-position: 0rem -24rem; }
  20.59% { background-position: -6.8rem -24rem; }
  23.53% { background-position: 0rem -32rem; }
  26.47% { background-position: -6.8rem -32rem; }
  29.41% { background-position: 0rem -40rem; }
  32.35% { background-position: -6.8rem -40rem; }
  35.29% { background-position: 0rem -48rem; }
  38.24% { background-position: -6.8rem -48rem; }
  41.18% { background-position: 0rem -56rem; }
  44.12% { background-position: -6.8rem -56rem; }
  47.06% { background-position: 0rem -64rem; }
  50.00% { background-position: -6.8rem -64rem; }
  52.94% { background-position: 0rem -72rem; }
  55.88% { background-position: -6.8rem -72rem; }
  58.82% { background-position: 0rem -80rem; }
  61.76% { background-position: -6.8rem -80rem; }
  64.71% { background-position: 0rem -88rem; }
  67.65% { background-position: -6.8rem -88rem; }
  70.59% { background-position: 0rem -96rem; }
  73.53% { background-position: -6.8rem -96rem; }
  76.47% { background-position: 0rem -104rem; }
  79.41% { background-position: -6.8rem -104rem; }
  82.35% { background-position: 0rem -112rem; }
  85.29% { background-position: -6.8rem -112rem; }
  88.24% { background-position: 0rem -120rem; }
  91.18% { background-position: -6.8rem -120rem; }
  94.12% { background-position: 0rem -128rem; }
  97.06% { background-position: -6.8rem -128rem; }
  100.00% { background-position: 0rem -136rem; }
}
.info-wrap{
  margin-top: 1.96rem;
  width: 100%;
  height: 3.18rem;
  background: url(../images/info-bac2.png) no-repeat;
  background-size: 100% 100%;
  opacity: 1;
  -webkit-transform-origin: left top;
          transform-origin: left top;
}
/*.info-wrap.animate{
  animation: infoanimation 0.52s forwards;
}
@keyframes infoanimation{
  0%{
    transform: scale(0);
    opacity: 0.4;
  }
  100%{
    transform: scale(1);
    opacity: 1;
  }
}*/
.info-wrap span{
  /*display: none;*/
  font-size: 0.28rem;
  line-height: 0.48rem;
  color: #ffffff;
  margin: 0.5rem 1rem;
  width: 5.24rem;
  opacity: 0;
  text-align: justify;
}
.part3{
  /*opacity: 0;*/
}
/*//////////index.html///////////*/
.guo{
  width: 2.54rem;
  height: 1.86rem;
  background: url(../images/guo.png);
  background-size: contain;
  position: absolute;
  bottom: 0rem;
  left: 50%;
  z-index: 113;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.bowen {
  background-image: url('../images/bo.png');
  width: 3rem;
  height: 3rem;
  position: absolute;
  /*top: 50%;
  left: 50%;*/
  /*transform: translate(-50%, -50%) scale(1,1);*/
  -webkit-animation: bowenanimation 2.00s steps(1) infinite;
          animation: bowenanimation 2.00s steps(1) infinite;
  background-size: 18rem 18rem;
  top: -0.3rem;
  left: 4rem;
}
@-webkit-keyframes bowenanimation {
  0% { background-position: 0rem 0rem; }
  3.03% { background-position: -3rem 0rem; }
  6.06% { background-position: -6rem 0rem; }
  9.09% { background-position: -9rem 0rem; }
  12.12% { background-position: -12rem 0rem; }
  15.15% { background-position: -15rem 0rem; }
  18.18% { background-position: 0rem -3rem; }
  21.21% { background-position: -3rem -3rem; }
  24.24% { background-position: -6rem -3rem; }
  27.27% { background-position: -9rem -3rem; }
  30.30% { background-position: -12rem -3rem; }
  33.33% { background-position: -15rem -3rem; }
  36.36% { background-position: 0rem -6rem; }
  39.39% { background-position: -3rem -6rem; }
  42.42% { background-position: -6rem -6rem; }
  45.45% { background-position: -9rem -6rem; }
  48.48% { background-position: -12rem -6rem; }
  51.52% { background-position: -15rem -6rem; }
  54.55% { background-position: 0rem -9rem; }
  57.58% { background-position: -3rem -9rem; }
  60.61% { background-position: -6rem -9rem; }
  63.64% { background-position: -9rem -9rem; }
  66.67% { background-position: -12rem -9rem; }
  69.70% { background-position: -15rem -9rem; }
  72.73% { background-position: 0rem -12rem; }
  75.76% { background-position: -3rem -12rem; }
  78.79% { background-position: -6rem -12rem; }
  81.82% { background-position: -9rem -12rem; }
  84.85% { background-position: -12rem -12rem; }
  87.88% { background-position: -15rem -12rem; }
  90.91% { background-position: 0rem -15rem; }
  93.94% { background-position: -3rem -15rem; }
  96.97% { background-position: -6rem -15rem; }
  100.00% { background-position: -9rem -15rem; }
}
@keyframes bowenanimation {
  0% { background-position: 0rem 0rem; }
  3.03% { background-position: -3rem 0rem; }
  6.06% { background-position: -6rem 0rem; }
  9.09% { background-position: -9rem 0rem; }
  12.12% { background-position: -12rem 0rem; }
  15.15% { background-position: -15rem 0rem; }
  18.18% { background-position: 0rem -3rem; }
  21.21% { background-position: -3rem -3rem; }
  24.24% { background-position: -6rem -3rem; }
  27.27% { background-position: -9rem -3rem; }
  30.30% { background-position: -12rem -3rem; }
  33.33% { background-position: -15rem -3rem; }
  36.36% { background-position: 0rem -6rem; }
  39.39% { background-position: -3rem -6rem; }
  42.42% { background-position: -6rem -6rem; }
  45.45% { background-position: -9rem -6rem; }
  48.48% { background-position: -12rem -6rem; }
  51.52% { background-position: -15rem -6rem; }
  54.55% { background-position: 0rem -9rem; }
  57.58% { background-position: -3rem -9rem; }
  60.61% { background-position: -6rem -9rem; }
  63.64% { background-position: -9rem -9rem; }
  66.67% { background-position: -12rem -9rem; }
  69.70% { background-position: -15rem -9rem; }
  72.73% { background-position: 0rem -12rem; }
  75.76% { background-position: -3rem -12rem; }
  78.79% { background-position: -6rem -12rem; }
  81.82% { background-position: -9rem -12rem; }
  84.85% { background-position: -12rem -12rem; }
  87.88% { background-position: -15rem -12rem; }
  90.91% { background-position: 0rem -15rem; }
  93.94% { background-position: -3rem -15rem; }
  96.97% { background-position: -6rem -15rem; }
  100.00% { background-position: -9rem -15rem; }
}

.xinhaoshowtip{
  position: fixed;
  width: 4.56rem;
  height: 1.32rem;
  line-height: 1.32rem;
  font-size: 0.28rem;
  color: #fff;
  text-align: center;
  background: url(../images/click-tips.png) 0 0.54rem no-repeat;
  background-size: contain;
  margin: 0 auto;
  margin-left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  padding-top: 0.54rem;
  -webkit-animation: showanimate 0.5s forwards;
          animation: showanimate 0.5s forwards;
}
.find-xinhaoshowtip{
  position: fixed;
  width: 4.56rem;
  height: 1.44rem;
  color: #fff;
  background: url(../images/find-xinhao.png) 0 0.54rem no-repeat;
  background-size: contain;
  margin: 0 auto;
  margin-left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  padding-top: 0.54rem;
  -webkit-animation: showanimate 0.5s forwards;
          animation: showanimate 0.5s forwards;
}
.guotip{
  width: 2.48rem;
  height: 1.04rem;
  position: absolute;
  top: 0.2rem;
  left: 1.94rem;
  background: url(../images/guotip.png);
  background-size: contain;
  -webkit-animation: showanimate 0.5s forwards;
          animation: showanimate 0.5s forwards;
}
.hide{
  z-index: -1;
  /*display: none;*/
  -webkit-animation: hideanimate 0.5s forwards !important;
          animation: hideanimate 0.5s forwards !important;
}
@-webkit-keyframes hideanimate{
  from{
    opacity: 1;
  }
  to{
    opacity: 0;
  }
}
@keyframes hideanimate{
  from{
    opacity: 1;
  }
  to{
    opacity: 0;
  }
}
@-webkit-keyframes showanimate{
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}
@keyframes showanimate{
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}
.guozoom{
  -webkit-animation: guozoomanimate 0.5s forwards;
          animation: guozoomanimate 0.5s forwards;
  -webkit-transform-origin : bottom;
          transform-origin : bottom;
  
} 
@-webkit-keyframes guozoomanimate{
  0%{
    -webkit-transform:translateX(-50%) scale(1);
            transform:translateX(-50%) scale(1);
  }
  50%{
    -webkit-transform:translateX(-50%) scale(0.9);
            transform:translateX(-50%) scale(0.9);
  }
  100%{
    -webkit-transform:translateX(-50%) scale(1);
            transform:translateX(-50%) scale(1);
  }
} 
@keyframes guozoomanimate{
  0%{
    -webkit-transform:translateX(-50%) scale(1);
            transform:translateX(-50%) scale(1);
  }
  50%{
    -webkit-transform:translateX(-50%) scale(0.9);
            transform:translateX(-50%) scale(0.9);
  }
  100%{
    -webkit-transform:translateX(-50%) scale(1);
            transform:translateX(-50%) scale(1);
  }
}
.chuansuo{
  position: absolute;
  bottom: 100%;
  
  z-index: 111;

  background-image: url('../images/chuansuo4.png');
  background-size: 15rem 160.08rem;
  background-color: #06091b;
  
  width: 7.50rem;
  height: 13.34rem;
  /*position: absolute;
  top: 50%;
  left: 50%;*/
  /*transform: translate(-50%, -50%) scale(1,1);*/

}
.chuansuo.move{
  -webkit-animation-name:csmoveanimate, chuansuogif;
          animation-name:csmoveanimate, chuansuogif;
  -webkit-animation-duration:0.3s, 2.35s;
          animation-duration:0.3s, 2.35s;
  -webkit-animation-timing-function:linear, steps(1);
          animation-timing-function:linear, steps(1);
  -webkit-animation-delay:0s, 0.3s;
          animation-delay:0s, 0.3s;
  -webkit-animation-iteration-count:1, 1;
          animation-iteration-count:1, 1;
  -webkit-animation-fill-mode:forwards, forwards;
          animation-fill-mode:forwards, forwards;
  -webkit-animation-direction:normal, alternate;
          animation-direction:normal, alternate;
  /*animation: chuansuogif 1.08s steps(1) forwards;*/
}

@keyframes chuansuogif {
  0% { background-position: 0 0rem; }
  4.55% { background-position: -7.50rem 0rem; }
  9.09% { background-position: 0 -13.34rem; }
  13.64% { background-position: -7.50rem -13.34rem; }
  18.18% { background-position: 0 -26.68rem; }
  22.73% { background-position: -7.50rem -26.68rem; }
  27.27% { background-position: 0 -40.02rem; }
  31.82% { background-position: -7.50rem -40.02rem; }
  36.36% { background-position: 0 -53.36rem; }
  40.91% { background-position: -7.50rem -53.36rem; }
  45.45% { background-position: 0 -66.70rem; }
  50.00% { background-position: -7.50rem -66.70rem; }
  54.55% { background-position: 0 -80.04rem; }
  59.09% { background-position: -7.50rem -80.04rem; }
  63.64% { background-position: 0 -93.38rem; }
  68.18% { background-position: -7.50rem -93.38rem; }
  72.73% { background-position: 0 -106.72rem; }
  77.27% { background-position: -7.50rem -106.72rem; }
  81.82% { background-position: 0 -120.06rem; }
  86.36% { background-position: -7.50rem -120.06rem; }
  90.91% { background-position: 0 -133.40rem; }
  95.45% { background-position: -7.50rem -133.40rem; }
  100.00% { background-position: 0 -146.74rem; }
}
/*.chuansuo.move{
  -webkit-animation: csmoveanimate 0.3s forwards;
          animation: csmoveanimate 0.3s forwards;
}*/

@-webkit-keyframes csmoveanimate{
  from{
    bottom: 100%;
    /*background-image: url(http://img1.cache.netease.com/utf8/3g/fast/chuansuo1.gif);*/
  }
  to{
    bottom: 0 ;
    /*background-image: url(http://img1.cache.netease.com/utf8/3g/fast/chuansuo1.gif);*/
  }
}

@keyframes csmoveanimate{
  from{
    bottom: 100%;
    /*background-image: url(http://img1.cache.netease.com/utf8/3g/fast/chuansuo1.gif);*/
  }
  to{
    bottom: 0 ;
    /*background-image: url(http://img1.cache.netease.com/utf8/3g/fast/chuansuo1.gif);*/
  }
}
.cover-bac.move{
  -webkit-animation: moveanimate 0.6s forwards;
          animation: moveanimate 0.6s forwards;
}
@-webkit-keyframes moveanimate{
  from{
    top: 0;
  }
  to{
    top: 100%;
  }
}
@keyframes moveanimate{
  from{
    top: 0;
  }
  to{
    top: 100%;
  }
}

.displaynone{
  display: none;
}

.loading{
  position: fixed;
  background-color: #06091b;
  width: 100%;
  height: 100%;
  z-index: 200;
  background: url(../images/loding-bac.jpg) no-repeat;
  background-size: 100% 100%;
}
.loading-guo{
  width: 2.66rem;
  height: 2.5rem;
  background: url(../images/loding-guo.png) no-repeat;
  background-size: contain;
  margin: 0 auto;
  /*transform: translateY(-50%);*/
  margin-top: 45%;
  -webkit-animation: rotateanimate 1s infinite;
          animation: rotateanimate 1s infinite;
}
.loading-text{
  margin-top: 0.2rem;
  width: 100%;
  text-align: center;
  color: #fff;
  font-size: 0.22rem;
}


@-webkit-keyframes rotateanimate{
  0%{
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50%{
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  100%{
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}


@keyframes rotateanimate{
  0%{
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50%{
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  100%{
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
.end-wrap{
  position: absolute;
  bottom: 0.52rem;
  width: 100%;
  -webkit-animation: showanimate 0.5s forwards;
          animation: showanimate 0.5s forwards;
}
.end-wrap .end-logo{
  width: 3.88rem;
  height: 1.14rem;
  background: url(../images/lastpage-logo.png) no-repeat;
  background-size: contain;
  margin: 0 auto;

}
.continue{
  display: inline-block;
  width: 2.86rem;
  height: 1.02rem;
  background: url(../images/continue-btn.png) no-repeat;
  background-size: contain;
}
.share{
  display: inline-block;
  width: 2.86rem;
  height: 1.02rem;
  background: url(../images/share-btn.png) no-repeat;
  background-size: contain;
}
.end-wrap .btn-wrap{
  text-align: center;
  -webkit-transform:translateY(0.03rem);
          transform:translateY(0.03rem);
}
.guangyun{
  width: 4.4rem;
  height: 4.4rem;
  background: url(../images/guangyun.png) no-repeat;
  background-size: contain;
  position: absolute;
  bottom: 29%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-animation: guangyunanimate 2s infinite;
          animation: guangyunanimate 2s infinite;
}
@-webkit-keyframes guangyunanimate{
  0%{
    opacity: 0;
  }
  50%{
    opacity: 0.5;
  }
  100%{
    opacity: 0;
  }
}
@keyframes guangyunanimate{
  0%{
    opacity: 0;
  }
  50%{
    opacity: 0.5;
  }
  100%{
    opacity: 0;
  }
}
.waixingren {
  width: 3rem;
  height: 4rem;
  position: absolute;
  bottom: 6.2rem;
  left: 48%;
  -webkit-transform: translateX(-50%) scale(1);
          transform: translateX(-50%) scale(1);
}
.wxr-animation1{
  background-size: 18rem 8rem;
  background-image: url('../images/w1.png.png');
  -webkit-animation: animation1 0.59s steps(1) forwards;
          animation: animation1 0.59s steps(1) forwards;
}
.wxr-animation2{
  background-size: 18rem 16rem;
  background-image: url('../images/w2.png.png');
  -webkit-animation: animation2 1.29s steps(1) infinite;
          animation: animation2 1.29s steps(1) infinite;
}
.wxr-animation3{
  background-size: 18rem 8rem;
  background-image: url('../images/w3.png.png');
  -webkit-animation: animation3 0.47s steps(1) forwards;
          animation: animation3 0.47s steps(1) forwards;
}
.wxr-animation4{
  background-size: 18rem 16rem;
  background-image: url('../images/w4.png.png');
  -webkit-animation: animation4 1.41s steps(1) infinite;
          animation: animation4 1.41s steps(1) infinite;
}


@-webkit-keyframes animation1 {
  0% { background-position: 0rem 0rem; }
  10.00% { background-position: -3rem 0rem; }
  20.00% { background-position: -6rem 0rem; }
  30.00% { background-position: -9rem 0rem; }
  40.00% { background-position: -12rem 0rem; }
  50.00% { background-position: -15rem 0rem; }
  60.00% { background-position: 0rem -4rem; }
  70.00% { background-position: -3rem -4rem; }
  80.00% { background-position: -6rem -4rem; }
  90.00% { background-position: -9rem -4rem; }
  100.00% { background-position: -12rem -4rem; }
}


@keyframes animation1 {
  0% { background-position: 0rem 0rem; }
  10.00% { background-position: -3rem 0rem; }
  20.00% { background-position: -6rem 0rem; }
  30.00% { background-position: -9rem 0rem; }
  40.00% { background-position: -12rem 0rem; }
  50.00% { background-position: -15rem 0rem; }
  60.00% { background-position: 0rem -4rem; }
  70.00% { background-position: -3rem -4rem; }
  80.00% { background-position: -6rem -4rem; }
  90.00% { background-position: -9rem -4rem; }
  100.00% { background-position: -12rem -4rem; }
}

@-webkit-keyframes animation2 {
  0% { background-position: 0rem 0rem; }
  4.76% { background-position: -3rem 0rem; }
  9.52% { background-position: -6rem 0rem; }
  14.29% { background-position: -9rem 0rem; }
  19.05% { background-position: -12rem 0rem; }
  23.81% { background-position: -15rem 0rem; }
  28.57% { background-position: 0rem -4rem; }
  33.33% { background-position: -3rem -4rem; }
  38.10% { background-position: -6rem -4rem; }
  42.86% { background-position: -9rem -4rem; }
  47.62% { background-position: -12rem -4rem; }
  52.38% { background-position: -15rem -4rem; }
  57.14% { background-position: 0rem -8rem; }
  61.90% { background-position: -3rem -8rem; }
  66.67% { background-position: -6rem -8rem; }
  71.43% { background-position: -9rem -8rem; }
  76.19% { background-position: -12rem -8rem; }
  80.95% { background-position: -15rem -8rem; }
  85.71% { background-position: 0rem -12rem; }
  90.48% { background-position: -3rem -12rem; }
  95.24% { background-position: -6rem -12rem; }
  100.00% { background-position: -9rem -12rem; }
}

@keyframes animation2 {
  0% { background-position: 0rem 0rem; }
  4.76% { background-position: -3rem 0rem; }
  9.52% { background-position: -6rem 0rem; }
  14.29% { background-position: -9rem 0rem; }
  19.05% { background-position: -12rem 0rem; }
  23.81% { background-position: -15rem 0rem; }
  28.57% { background-position: 0rem -4rem; }
  33.33% { background-position: -3rem -4rem; }
  38.10% { background-position: -6rem -4rem; }
  42.86% { background-position: -9rem -4rem; }
  47.62% { background-position: -12rem -4rem; }
  52.38% { background-position: -15rem -4rem; }
  57.14% { background-position: 0rem -8rem; }
  61.90% { background-position: -3rem -8rem; }
  66.67% { background-position: -6rem -8rem; }
  71.43% { background-position: -9rem -8rem; }
  76.19% { background-position: -12rem -8rem; }
  80.95% { background-position: -15rem -8rem; }
  85.71% { background-position: 0rem -12rem; }
  90.48% { background-position: -3rem -12rem; }
  95.24% { background-position: -6rem -12rem; }
  100.00% { background-position: -9rem -12rem; }
}

@-webkit-keyframes animation3 {
  0% { background-position: 0rem 0rem; }
  14.29% { background-position: -3rem 0rem; }
  28.57% { background-position: -6rem 0rem; }
  42.86% { background-position: -9rem 0rem; }
  57.14% { background-position: -12rem 0rem; }
  71.43% { background-position: -15rem 0rem; }
  85.71% { background-position: 0rem -4rem; }
  100.00% { background-position: -3rem -4rem; }
}

@keyframes animation3 {
  0% { background-position: 0rem 0rem; }
  14.29% { background-position: -3rem 0rem; }
  28.57% { background-position: -6rem 0rem; }
  42.86% { background-position: -9rem 0rem; }
  57.14% { background-position: -12rem 0rem; }
  71.43% { background-position: -15rem 0rem; }
  85.71% { background-position: 0rem -4rem; }
  100.00% { background-position: -3rem -4rem; }
}

@-webkit-keyframes animation4 {
  0% { background-position: 0rem 0rem; }
  4.35% { background-position: -3rem 0rem; }
  8.70% { background-position: -6rem 0rem; }
  13.04% { background-position: -9rem 0rem; }
  17.39% { background-position: -12rem 0rem; }
  21.74% { background-position: -15rem 0rem; }
  26.09% { background-position: 0rem -4rem; }
  30.43% { background-position: -3rem -4rem; }
  34.78% { background-position: -6rem -4rem; }
  39.13% { background-position: -9rem -4rem; }
  43.48% { background-position: -12rem -4rem; }
  47.83% { background-position: -15rem -4rem; }
  52.17% { background-position: 0rem -8rem; }
  56.52% { background-position: -3rem -8rem; }
  60.87% { background-position: -6rem -8rem; }
  65.22% { background-position: -9rem -8rem; }
  69.57% { background-position: -12rem -8rem; }
  73.91% { background-position: -15rem -8rem; }
  78.26% { background-position: 0rem -12rem; }
  82.61% { background-position: -3rem -12rem; }
  86.96% { background-position: -6rem -12rem; }
  91.30% { background-position: -9rem -12rem; }
  95.65% { background-position: -12rem -12rem; }
  100.00% { background-position: -15rem -12rem; }
}

@keyframes animation4 {
  0% { background-position: 0rem 0rem; }
  4.35% { background-position: -3rem 0rem; }
  8.70% { background-position: -6rem 0rem; }
  13.04% { background-position: -9rem 0rem; }
  17.39% { background-position: -12rem 0rem; }
  21.74% { background-position: -15rem 0rem; }
  26.09% { background-position: 0rem -4rem; }
  30.43% { background-position: -3rem -4rem; }
  34.78% { background-position: -6rem -4rem; }
  39.13% { background-position: -9rem -4rem; }
  43.48% { background-position: -12rem -4rem; }
  47.83% { background-position: -15rem -4rem; }
  52.17% { background-position: 0rem -8rem; }
  56.52% { background-position: -3rem -8rem; }
  60.87% { background-position: -6rem -8rem; }
  65.22% { background-position: -9rem -8rem; }
  69.57% { background-position: -12rem -8rem; }
  73.91% { background-position: -15rem -8rem; }
  78.26% { background-position: 0rem -12rem; }
  82.61% { background-position: -3rem -12rem; }
  86.96% { background-position: -6rem -12rem; }
  91.30% { background-position: -9rem -12rem; }
  95.65% { background-position: -12rem -12rem; }
  100.00% { background-position: -15rem -12rem; }
}

.s-guangyun{
    width: 1rem;
    height: 1rem;
    background: url(../images/guangyun.png) no-repeat;
    background-size: 100%;
    position: absolute;
    top: 2.65rem;
    left: 4.29rem;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    -webkit-animation: ssguangyunanimate 2s infinite;
            animation: ssguangyunanimate 2s infinite;
}

@-webkit-keyframes ssguangyunanimate{
  0%{
    opacity: 0;
  }
  50%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}

@keyframes ssguangyunanimate{
  0%{
    opacity: 0;
  }
  50%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}
.share-w{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.8;
  z-index: 121;
}

.share-w .wxr{
  width: 3.26rem;
  height: 3.72rem;
  background: url(../images/wxr-share.png) no-repeat;
  position: absolute;
  right: 0;
  top:0;
  background-size: contain;
}

.end-wrap .tips{
  background: url(../images/info-bac2.png) no-repeat;
  background-size: 100%;
    -webkit-animation: showanimate .5s forwards;
  animation: showanimate .5s forwards;
  font-size: .28rem;
  line-height: .48rem;
  color: #fff;
  padding: 1rem 1.2rem .8rem;
  /*width: 5.36rem;*/
  text-align: justify;
  margin-bottom: 0.94rem;
}
.info-wrap span.info3{
  text-align: center !important;
}

.s-tips{
  position: absolute;
  bottom: 0.6rem;
  color: #78787f;
  font-size: 0.24rem;
  text-align: center;
  width: 100%;
}

/*.arrow-wrap{
  position: absolute;
  bottom: 0.5rem;
  margin: 0 50%;
  transform: translateX(-50%);
}
.arrow-down{
  width: 1.26rem;
  height: 1.26rem;
  /*background: url(../images/anniu.png);
  background-color: #cdfffe;
  border-radius: 50%;

  animation: arrwodown 0.6s infinite;
  
  opacity: 0.4;
}*/
.circle-replace{
  width: 100%;
  position: absolute;
  bottom: 0.8rem;
  margin: 0 50%;
  transform: translateX(-50%);
  color: #fff;
  text-align: center;
  font-size: 0.32rem;
}
.circle-wrap{
  position: absolute;
  bottom: 0.5rem;
  margin: 0 50%;
  transform: translateX(-50%);
  background-image: url('../images/circle.png');
  background-size: 20rem 2rem;
  width: 1rem;
  height: 1rem;
  animation: circleanimate 1.71s steps(1) infinite;
}
@keyframes circleanimate {
  0% { background-position: 0 0; }
  3.45% { background-position: -1rem 0; }
  6.90% { background-position: -2rem 0; }
  10.34% { background-position: -3rem 0; }
  13.79% { background-position: -4rem 0; }
  17.24% { background-position: -5rem 0; }
  20.69% { background-position: -6rem 0; }
  24.14% { background-position: -7rem 0; }
  27.59% { background-position: -8rem 0; }
  31.03% { background-position: -9rem 0; }
  34.48% { background-position: -10rem 0; }
  37.93% { background-position: -11rem 0; }
  41.38% { background-position: -12rem 0; }
  44.83% { background-position: -13rem 0; }
  48.28% { background-position: -14rem 0; }
  51.72% { background-position: -15rem 0; }
  55.17% { background-position: -16rem 0; }
  58.62% { background-position: -17rem 0; }
  62.07% { background-position: -18rem 0; }
  65.52% { background-position: -19rem 0; }
  68.97% { background-position: 0 -1rem; }
  72.41% { background-position: -1rem -1rem; }
  75.86% { background-position: -2rem -1rem; }
  79.31% { background-position: -3rem -1rem; }
  82.76% { background-position: -4rem -1rem; }
  86.21% { background-position: -5rem -1rem; }
  89.66% { background-position: -6rem -1rem; }
  93.10% { background-position: -7rem -1rem; }
  96.55% { background-position: -8rem -1rem; }
  100.00% { background-position: -9rem -1rem; }
}
.animate-control{
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 119;
}

.dialog-wrap {
  
  margin-top: 1.96rem;
  width: 100%;
  height: 3.18rem;
  background: url(../images/info-bac2.png) no-repeat;
  background-size: 100% 100%;
  /*opacity: 0;*/
  -webkit-transform-origin: left top;
          transform-origin: left top;
}
.dialog-wrap.animate{
  animation: infoanimation 0.52s forwards;
}
@keyframes infoanimation{
  0%{
    transform: scale(0);
    opacity: 0.4;
  }
  100%{
    transform: scale(1);
    opacity: 1;
  }
}
.dialog-wrap span{
  font-size: .28rem;
  line-height: .48rem;
  color: #fff;
  margin: .5rem 1rem;
  /* width: 5.24rem; */
  text-align: justify;
  display: inline-block;
}
.dialog-wrap.info2{
  background-size: 100% 80% !important;
}
.dialog-wrap.info3{
  background-size: 100% 62% !important;
}
.dialog-wrap.info3 span{
  margin-left: 2.3rem;
}

.dialog-pop-wrap{
  position: absolute;
  bottom: 0.5rem;
  height: 5.36rem;
  width: 100%;
}
.dialog-pop-wrap .feng{
  width: 100%;
  height: 0.08rem;
  background: url(../images/fengfeng.png) no-repeat;
  background-size: 100% 100%;
}
.dialog-pop-wrap .speak-wrap{
  height: 5.1rem;
  margin: 0 0.57rem;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;
}
.speak-wrap .wxr .head{
  display: inline-block;
  width: 1.27rem;
  height: 1.28rem;
  background: url(../images/head-wxr.png) no-repeat;
  background-size: cover;
  vertical-align: middle;
}
.speak-wrap .wxr .kuang{
  display: inline-block;
  font-size: 0.26rem;
  color: #78e0e1;
  background: url(../images/kuang-wxr.png) no-repeat;
  background-size: 100% 100%;
  padding: 0.3rem 0.3rem 0.3rem 0.6rem;
  max-width: 3.3rem;

  position: absolute;
  top: 0.36rem;
  left: 1.32rem;
}
.speak-wrap .fast{
  text-align: right;
}
.speak-wrap .fast .head{
  display: inline-block;
  width: 1.26rem;
  height: 1.28rem;
  background: url(../images/head-fast.png) no-repeat;
  background-size: cover;
  vertical-align: middle;
}
.speak-wrap .fast .kuang{
  display: inline-block;
  font-size: 0.26rem;
  color: #4faad6;
  background: url(../images/kuang-fast-c.png) no-repeat;
  background-size: 100% 100%;
  padding: 0.3rem 0.6rem 0.3rem 0.4rem;
  max-width: 3.3rem;
  text-align: left;
  
  position: absolute;
  right: 1.32rem;
  top: 0.4rem;
}

.speak-wrap .fast i{
  padding: 0 0.4rem;
  font-style: normal;
  animation: textanimate 1s infinite;
}
@keyframes textanimate{
  0%{
    text-shadow: 0px 0px 20px #4faad6;
  }
  50%{
    text-shadow: 0px 0px 0px #4faad6;
  }
  100%{
    text-shadow: 0px 0px 20px #4faad6;
  }
}

.speak-wrap .two-line{
  /*vertical-align: 0.1rem !important;*/
}

.speak-wrap li{
  position: relative;
  opacity: 0;
}
.speak-wrap li.animation{
  animation: dialoganimation 0.5s forwards;
  margin-bottom: 0.1rem;
}
@keyframes dialoganimation{
  from{
    opacity: 0;
    transform: translateY(0.5rem);
  }
  to{
    opacity: 1;
    transform: translateY(0rem);
  }
}















